@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url("fonts.css");

body {
    font-style: normal;
}

h1, h2, h3 {
    font-family: "Mulish", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #5D4037;
    text-shadow: 3px 3px 5px #F5E1C8;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 3px;
}
h1 {
    text-align: right;
}

h2 {
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
}

h3 {
    font-size: 24px;
    text-align: left;
}

p {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    color: #333333;
    line-height: 1.5;
}

ol li {
    text-align: right;
}

.contains p {
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: #C85C5C;
    text-decoration-style: wavy ;
}

#experiment span {
    color: #D4A373;
}

.normal {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.through {
    text-decoration: line-through;
    text-decoration-style: double;
}

.overline {
    text-decoration: overline;
    text-decoration-style: dotted;
}

.underline {
    text-decoration: underline;
    text-decoration-style: dashed;
}

.text-medium, .text-regular {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    color: #1A1A1A;
    line-height: 1.5; 
}

.text-regular {
    font-size: 18px;
    font-weight: 400;
    color: #808080;
}

ul > li > p > span {
    font-weight: 700;
}

h3 > a {
    color: #FF0000;
}